{% extends "mipt_hack_server/base.html" %}
{% load static %}

{% block page %}
<div class="page-header">
	<h1 class="text-center">All Events</h1>
</div>
{% for event in events %}
<div class="col-md-4">
	<div class="panel panel-{{ event.category.color }} event" id="event-{{ event.id }}">
		<div class="panel-heading">
			<h2 class="text-center"><i class="{{ event.category.icon }}"></i> {{ event.title }}</h2>
		</div>
		<div class="panel-body">
			<h3>Author</h3>
			<div>{{ event.author }}</div>
			<h3>Members</h3>
			<div>{{ event.users.all|length }} members</div>
			<h3>Date</h3>
			<div>{{ event.datetime }}</div>
		</div>
		<div class="panel-footer text-right">
			<span class="pull-left">{{ event.category.title }}</span>
			<a href="{% url "mipt:event" event.id %}">More details</a>
		</div>
	</div>
</div>
{% empty %}
<h2 class="text-center"><i class="fa fa-exclamation-triangle"></i> Nothing found</h2>
{% endfor %}

{% endblock page %}
