{% extends "mipt_hack_server/base.html" %}
{% load static %}

{% block page %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default bg-info">
				<div class="panel-heading">Confirmation</div>
				<div class="panel-body">
					{% if has_account %}
						<div class="well well-sm text-warning">Logout, please.</div>
						<a href="{% url 'logout' %}" class="btn btn-default">Logout</a>
					{% endif %}
					{% if expired %}
						<div class="well well-sm text-danger">Time is up! Sorry. Try again.</div>
					{% endif %}
					{% if is_active %}
						<div class="well well-sm text-info">You are is active user!</div>
					{% endif %}
					{% if confirm %}
						<div class="well well-sm text-success">Thank you!</div>
					{% endif %}
					{% if is_active or confirm %}
						<form method="post" id="loginForm" action="{% url 'index' %}">
							{% csrf_token %}
							{% for field in form %}
							<div class="form-group">
								<label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
								{{ field }}
							</div>
							{% endfor %}
							<div class="well well-sm">
								If you don't register, after submit this form the letter with activation code will be sent to your email.
							</div>
							<button data-type="submit" class="btn btn-default btn-success">Submit</button>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock page %}
