{% extends "mipt_hack_server/base.html" %}
{% load static %}

{% block page %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default bg-info">
				<div class="panel-heading">Confirmation</div>
				<div class="panel-body">
					{% if has_account %}
						<div class="well well-sm text-warning">Logout, please.</div>
					{% endif %}
					{% if expired %}
						<div class="well well-sm text-danger">Time is up! Sorry. Try again.</div>
					{% endif %}
					{% if is_active %}
						<div class="well well-sm text-info">You are is active user! <a href="/test/" class="btn btn-sm btn-default">Login, please!</a></div>
					{% endif %}
					{% if confirm %}
						<div class="well well-sm text-success">Thank you! <a href="/test/" class="btn btn-sm btn-default">Login, please!</a></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock page %}
