{% extends "mipt_hack_server/base.html" %}
{% load static %}

{% block page %}
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="panel panel-default bg-info">
				<div class="panel-heading">Common settings</div>
				<div class="panel-body">
					Settings...
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default bg-info">
				<div class="panel-heading">Reset password</div>
				<div class="panel-body">
					Settings...
				</div>
			</div>
		</div>
	</div>
{% endblock page %}
