{% extends "joinme/base.html" %}
{% load static %}

{% block page %}
{% if event.active or event.author.id == user.userprofile.id %}

<div class="modal fade" id="eventMap" tabindex="-1" role="dialog" aria-labelledby="eventMapLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="eventMapLabel"><i class="mdi-maps-pin-drop"></i> Карта События</h4>
			</div>
			<div class="modal-body">
				<div id="mapCanvas"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div class="page-header">
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-{{ event.category.color|default:"primary" }} event-detail" id="event-{{ event.id }}" data-coord="{{ event.coord }}">
			<div class="panel-heading">
					<i class="{{ event.category.icon }}"></i> {{ event.category.title }}
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<h1>{{ event.title|title }}</h1>
						<h3>Описание</h3>
						<div class="lead">{{ event.description|linebreaksbr }}</div>
						<h3><i class="mdi-action-event"></i> {{ event.datetime }}</h3>
					</div>
					<div class="col-lg-6 list-members">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row-picture">
									{% with event.author.get_user_photo as photo %}
										{% if photo %}
										<img class="circle" src="{{ photo }}" alt="icon">
										{% else %}
										<i class="mdi-social-person"></i>
										{% endif %}
									{% endwith %}
								</div>
								<div class="row-content">
									<h4 class="list-group-item-heading">{{ event.author }}</h4>
									<div class="list-group-item-text">автор</div>
								</div>
							</li>
							{% for user in event.users.all %}
							<li class="list-group-item">
								<div class="row-picture">
									{% with user.get_user_photo as photo %}
										{% if photo %}
										<img class="circle" src="{{ photo }}" alt="icon">
										{% else %}
										<i class="mdi-social-person"></i>
										{% endif %}
									{% endwith %}
								</div>
								<div class="row-content">
									<h4 class="list-group-item-heading">{{ user }}</h4>
									<div class="list-group-item-text">участник</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4" id="ratingDiv">
					{# <div> #}
						{% csrf_token %}
						{% if user.userprofile in event.rating_users.all %}
						<input id="rating" value="{{ event.get_rating }}" disabled="">
						{% else %}
						<input id="rating" value="{{ event.get_rating }}">
						{% endif %}
					{# </div> #}
					</div>
					<div class="col-lg-8 text-right">
						{% if event.author.id != user.userprofile.id %}
							<div class="btn-group pull-right" role="group">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#eventMap">
									<i class="mdi-maps-pin-drop"></i> Карта
								</button>
							{% if user.userprofile in event.users.all %}
								<a href="{{ event.get_leave_url }}" class="btn btn-warning">Выйти из События</a>
							{% else %}
								<a href="{{ event.get_join_url }}" class="btn btn-{{ event.category.color|default:"success" }}">Присоединиться</a>
							{% endif %}
							</div>
						{% endif %}
						{% if event.author.id == user.userprofile.id %}
						<div class="btn-toolbar text-right" role="toolbar">
							{% if not event.active %}
							<div class="btn-group pull-right" role="group">
								<a href="{{ event.get_edit_url }}" class="btn btn-danger">
									<i class="fa fa-exclamation"></i> Неактивное
								</a>
							</div>
							{% endif %}
							<div class="btn-group pull-right" role="group">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#eventMap">
									<i class="mdi-maps-pin-drop"></i> Карта
								</button>
								<a href="{{ event.get_edit_url }}" class="btn btn-default">
									<i class="mdi-content-create"></i> Изменить
								</a>
								<a href="{{ event.get_delete_url }}" class="btn btn-default">
									<i class="fa fa-trash-o"></i> Удалить
								</a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>

			</div>
		</div>

		{# Comments #}
		{# TODO: mention other user #}
		<div class="comment-head text-center">
			<h2 data-toggle="collapse" data-target="#comments"><i class="mdi-communication-forum"></i> Комментарии <span class="caret"></span></h2>
		</div>
		<div id="comments" class="collapse">
			{% if event.comments.count %}
			<div class="list-group">
				{% for comment in event.comments.all %}
				<div id="comment-{{ comment.id }}" class="list-group-item comment">
					<div class="row-picture comment-user-photo">
						{% with comment.user.get_user_photo as photo %}
							{% if photo %}
							<img class="circle" src="{{ photo }}" alt="icon">
							{% else %}
							<i class="mdi-social-person"></i>
							{% endif %}
						{% endwith %}
					</div>
					<div class="row-content">
						<div class="least-content comment-date">{{ comment.pub_date|date:"d E Y H:i" }}</div>
						<h4 class="list-group-item-heading comment-username">{{ comment.user }}</h4>
						<p class="list-group-item-text comment-message">{{ comment.message }}</p>
					</div>
				</div>
				<div class="list-group-separator"></div>
				{% endfor %}
			</div>
			{% else %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Нет комментариев
			</div>
			{% endif %}

			{# {% if user.userprofile.id == event.author.id or user.userprofile in event.users.all %} #}
			{# Form to add Comment #}
			<div>
				<form class="form-horizontal" id="commentForm" action="" method="post">
					{% csrf_token %}
					<fieldset>
						<legend>Добавить комментарий</legend>
						<div class="form-group">
							<label for="commentMessage" class="control-label col-lg-2">Сообщение</label>
							<div class="col-lg-10">
								<textarea name="message" id="commentMessage" rows="4" class="form-control floating-label" data-hint="Не используйте, пожалуйста, HTML тэги" placeholder="Введите ваше сообщение здесь"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button data-type="submit" class="btn btn-primary"><i class="mdi-content-save"></i> Отправить</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			{# {% endif %} #}
		</div>
	</div>
</div>
{% else %}
<div class="page-header">
	<h1 class="text-center"><i class="fa fa-exclamation-circle"></i> Event is inactive</h1>
</div>
<h2 class="text-center">Author has not yet published this Event.</h2>
{% endif %}

{% endblock page %}

{% block end_script %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.9&language=ru"></script>
<script>
$( function() {

	$( "#rating" ).rating( {
		min: 0,
		max: 5,
		step: 0.5,
		size: "sm",
		showClear: false,
		showCaption: false,
	} );

	$( "#rating" ).on( "rating.change", function(event, value, caption) {
		var url = "{% url "joinme:add-rating-event" event.pk %}";
		$.ajax( {
			type: "POST",
			url: url,
			data: {
				"csrfmiddlewaretoken": $( "#ratingDiv > [name=csrfmiddlewaretoken]").val(),
				"rating": value,
			},
			success: function( data ) {
				console.log( data );
				if ( data["error"] ) {
					console.log( "Something is wrong!" );
				} else {
					$( "#rating" ).rating( "update", data["rating"].toString() );
					$( "#rating" ).rating( "refresh", {
						disabled: true,
					} );
				}
			},
			error: function( jqXHR, textStatus, errorThrown ) {
				console.log( jqXHR, textStatus, errorThrown );
			}
		} );
	} );

	var map;
	function initialize() {
		coord = $( ".event-detail" ).data( "coord" ).split(",");
		var myLatLng;
		try {
			myLatLng = new google.maps.LatLng( parseFloat(coord[0]), parseFloat(coord[1]) );
		} catch (err) {
			myLatLng = new google.maps.LatLng( 55.75222, 37.61556 );
		}
		var mapOptions = {
			zoom: 11,
			center: myLatLng
		};
		map = new google.maps.Map( document.getElementById( "mapCanvas" ), mapOptions );
		var marker = new google.maps.Marker( {
			position: myLatLng,
			map: map
		} );
	}

	$( "#eventMap" ).on( "shown.bs.modal", initialize );

	// google.maps.event.addDomListener( window, "load", initialize );

} );
</script>
<style>
#mapCanvas {
	height: 400px;
	margin: 0;
	padding: 0;
}
</style>
{% endblock end_script %}
