{% extends "joinme/base.html" %}
{% load static %}

{% block page %}
<div class="page-header">
	<h1 class="text-center">{{ event.title }} 
		<small><i class="{{ event.category.icon }}"></i> {{ event.category.title }}</small>
	</h1>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default event-detail" id="event-{{ event.id }}">
			<div class="panel-body">
				{% if event.author.id == user.userprofile.id %}
					<div class="btn-group-vertical pull-right" role="group">
						<a href="{{ event.get_edit_url }}" class="btn btn-default">
							<i class="fa fa-pencil"></i>
						</a>
						<a href="{{ event.get_delete_url }}" class="btn btn-default">
							<i class="fa fa-trash-o"></i>
						</a>
					</div>
				{% endif %}
				<h3>Description</h3>
				<div>{{ event.description }}</div>
				<h3>Members</h3>
				<div>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading">
								<i class="mdi-editor-insert-emoticon"></i> {{ event.author }}
							</h4>
						</li>
						{% for user in event.users.all %}
							<li class="list-group-item">
								<h4 class="list-group-item-heading">
									<i class="mdi-social-person"></i> {{ user }}
								</h4>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="text-center">
				{% if event.author.id != user.userprofile.id %}
					{% if user.userprofile in event.users.all %}
						<a href="{{ event.get_leave_url }}" class="btn btn-danger">Leave Event</a>
					{% else %}
						<a href="{{ event.get_join_url }}" class="btn btn-success">Join Event</a>
					{% endif %}
				{% endif %}
				</div>
			</div>
			<div class="panel-footer">{{ event.datetime }}</div>
		</div>
	</div>
</div>

{% endblock page %}
