{% extends "joinme/base.html" %}
{% load static %}

{% block page %}
{% if event.active or event.author.id == user.userprofile.id %}
<div class="page-header">
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-{{ event.category.color|default:"primary" }} event-detail" id="event-{{ event.id }}">
			<div class="panel-heading">
					<i class="{{ event.category.icon }}"></i> {{ event.category.title }}
			</div>
			<div class="panel-body">
				<h1>{{ event.title|title }}</h1>

				<div id="iconEvent" role="group">
				{% if event.author.id == user.userprofile.id %}
					{% if not event.active %}
					<div>
						<a href="{{ event.get_edit_url }}" class="btn btn-fab btn-raised btn-danger" data-toggle="tooltip" data-placement="left" title="Неактивное">
							<i class="fa fa-exclamation"></i>
						</a>
					</div>
					{% endif %}
					<div>
						<a href="{{ event.get_edit_url }}" class="btn btn-fab btn-raised btn-primary" data-toggle="tooltip" data-placement="left" title="Изменить Событие">
							<i class="mdi-content-create"></i>
						</a>
					</div>
					<div>
						<a href="{{ event.get_delete_url }}" class="btn btn-fab btn-raised btn-warning" data-toggle="tooltip" data-placement="left" title="Удалить Событие">
							<i class="fa fa-trash-o"></i>
						</a>
					</div>
				{% endif %}
				{% if event.author.id != user.userprofile.id %}
				<div>
					{% if user.userprofile in event.users.all %}
						<a href="{{ event.get_leave_url }}" class="btn btn-fab btn-raised btn-danger" data-toggle="tooltip" data-placement="left" title="Выйти из События">
							<i class="mdi-image-exposure-minus-1"></i>
						</a>
					{% else %}
						<a href="{{ event.get_join_url }}" class="btn btn-fab btn-raised btn-success" data-toggle="tooltip" data-placement="left" title="Присоединиться">
							<i class="mdi-image-exposure-plus-1"></i>
						</a>
					{% endif %}
				</div>
				{% endif %}
				</div>

				<h3>Описание</h3>
				<div class="lead">{{ event.description|linebreaksbr }}</div>
				<h3>Идут</h3>
				<div>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading">
								<i class="mdi-social-person"></i> {{ event.author }} (автор)
							</h4>
						</li>
						{% for user in event.users.all %}
							<li class="list-group-item">
								<h4 class="list-group-item-heading">
									<i class="mdi-social-person"></i> {{ user }}
								</h4>
							</li>
						{% endfor %}
					</ul>
				</div>

				<h3><i class="mdi-action-event"></i> {{ event.datetime }}</h3>
				
				<div id="ratingDiv">
					{% csrf_token %}
					{% if user.userprofile in event.rating_users.all %}
					<input id="rating" value="{{ event.get_rating }}" disabled="">
					{% else %}
					<input id="rating" value="{{ event.get_rating }}">
					{% endif %}
				</div>
			</div>
		</div>

		{# Comments #}
		{# TODO: mention other user #}
		<div class="comment-head text-center">
			<h2 data-toggle="collapse" data-target="#comments"><i class="mdi-communication-forum"></i> Комментарии <span class="caret"></span></h2>
		</div>
		<div id="comments" class="collapse">
			{% if event.comments.count %}
			<div class="list-group">
				{% for comment in event.comments.all %}
				<div id="comment-{{ comment.id }}" class="list-group-item comment">
					<div class="row-picture comment-user-photo">
						{% with comment.user.get_user_photo as photo %}
							{% if photo %}
							<img class="circle" src="{{ photo }}" alt="icon">
							{% else %}
							<i class="mdi-social-person"></i>
							{% endif %}
						{% endwith %}
					</div>
					<div class="row-content">
						<div class="least-content comment-date">{{ comment.pub_date|date:"d E Y H:i" }}</div>
						<h4 class="list-group-item-heading comment-username">{{ comment.user.get_username }}</h4>
						<p class="list-group-item-text comment-message">{{ comment.message }}</p>
					</div>
				</div>
				<div class="list-group-separator"></div>
				{% endfor %}
			</div>
			{% else %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Нет комментариев
			</div>
			{% endif %}

			{% if user.userprofile.id == event.author.id or user.userprofile in event.users.all %}
			{# Form to add Comment #}
			<div>
				<form class="form-horizontal" id="commentForm" action="" method="post">
					{% csrf_token %}
					<fieldset>
						<legend>Добавить комментарий</legend>
						<div class="form-group">
							<label for="commentMessage" class="control-label col-lg-2">Сообщение</label>
							<div class="col-lg-10">
								<textarea name="message" id="commentMessage" rows="4" class="form-control floating-label" data-hint="Не используйте, пожалуйста, HTML тэги" placeholder="Введите ваше сообщение здесь"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button data-type="submit" class="btn btn-primary"><i class="mdi-content-save"></i> Отправить</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% else %}
<div class="page-header">
	<h1 class="text-center"><i class="fa fa-exclamation-circle"></i> Event is inactive</h1>
</div>
<h2 class="text-center">Author has not yet published this Event.</h2>
{% endif %}

{% endblock page %}

{% block end_script %}
<script>
$( function() {

	$( "#rating" ).rating( {
		min: 0,
		max: 5,
		step: 0.5,
		size: "xs",
		showClear: false,
		showCaption: false,
	} );

	$( "#rating" ).on( "rating.change", function(event, value, caption) {
		var url = "{% url "joinme:add-rating-event" event.pk %}";
		$.ajax( {
			type: "POST",
			url: url,
			data: {
				"csrfmiddlewaretoken": $( "#ratingDiv > [name=csrfmiddlewaretoken]").val(),
				"rating": value,
			},
			success: function( data ) {
				console.log( data );
				if ( data["error"] ) {
					console.log( "Something is wrong!" );
				} else {
					$( "#rating" ).rating( "update", data["rating"].toString() );
					$( "#rating" ).rating( "refresh", {
						disabled: true,
					} );
				}
			},
			error: function( jqXHR, textStatus, errorThrown ) {
				console.log( jqXHR, textStatus, errorThrown );
			}
		} );
	} );

} );
</script>
{% endblock end_script %}
