{% if events %}
	<div class="row js-masonry">
	{% for event in events %}
		<div class="col-md-4 item">
			<div class="panel panel-{{ event.category.color|default:"primary" }} event" id="event-{{ event.id }}">
				<div class="panel-heading">
					<span class="badge pull-right hidden" title="Count of Members">{{ event.users.count }}</span>
					<h2 class=""><i class="{{ event.category.icon }}"></i> {{ event.title }}</h2>
				</div>
				<div class="panel-body">
					<span class="pull-right text-center date btn-{{ event.category.color|default:"primary" }}">{{ event.datetime|date:"j" }}<br>{{ event.datetime|date:"M" }}</span>
					<p class="lead">{{ event.description|truncatewords:20 }}</p>
					<div class="text-right">
						<a class="btn btn-default btn-sm btn-{{ event.category.color }}" href="{{ event.get_absolute_url }}">More details <i class="fa fa-external-link"></i></a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	{% if is_paginated %}
	<div class="text-center">
		<ul class="pagination">
			{% for num in paginator.page_range %}
				{% ifequal num page_obj.number %}
					<li class="active"><a>{{ num }}</a></li>
				{% else %}
					<li><a href="?page={{ num }}">{{ num }}</a></li>
				{% endifequal %}
			{% endfor %}
		</ul>
	</div>
	{% endif %}
{% else %}
	<h2 class="text-center"><i class="fa fa-exclamation-triangle"></i> Nothing found</h2>
{% endif %}
