{% extends "joinme/base.html" %}
{% load static %}
{% load filters %}

{% block head_script %}
<link rel="stylesheet" href="{% static "joinme/css/bootstrap-material-datepicker.css" %}?v=0.0.1">
{% endblock head_script %}
{% block end_script %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.9&language=ru"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="{% static "joinme/js/bootstrap-material-datepicker.js" %}?v=0.0.1"></script>
<script>
$( function() {
	$( "input[name=datetime]" ).bootstrapMaterialDatePicker( {
		weekStart: 1,
		time: true,
		format: "YYYY-MM-DD HH:mm"
	} );

	$( "#selectCategory [type=radio]" ).on( "change", function() {
		if ( $( this ).prop("checked") ) {
			$( "#inputCategory" ).val( $( this ).val() );
			$( "button[data-target=#selectCategory]" ).text( $( this ).parent( "label" ).text() );
			$( "#selectCategory" ).modal( "hide" );
		}
	} );
	var map;
	function initialize() {
		coord = $( "input[name=coord]" ).val().split(",");
		var myLatLng;
		try {
			myLatLng = new google.maps.LatLng( parseFloat(coord[0]), parseFloat(coord[1]) );
		} catch (err) {
			myLatLng = new google.maps.LatLng( 55.75222, 37.61556 );
		}
		var mapOptions = {
			zoom: 11,
			center: myLatLng
		};
		map = new google.maps.Map( document.getElementById( "mapCanvas" ), mapOptions );
		var marker = new google.maps.Marker( {
			position: myLatLng,
			map: map
		} );

		google.maps.event.addListener( map, "click", function( event ) {
			$( "input[name=coord]" ).val( event.latLng.toUrlValue() );
			marker.setPosition( event.latLng );
		} );
	}

	google.maps.event.addDomListener( window, "load", initialize );
} );
</script>
<style>
#mapCanvas {
	height: 300px;
	margin: 0;
	padding: 0;
}
</style>
{% endblock end_script %}

{% block page %}
<div id="selectCategory" class="modal fade">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ form.category.label }}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
				<div class="form-group {{ form.category.errors|yesno:"has-error," }}">
					{% for cat in form.category %}
					<div class="radio radio-primary">
						<label for="{{ cat.id_for_label }}">{{ cat.tag }} {{ cat.choice_label }}</label>
					</div>
					{% endfor %}
				</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-{{ object.category.color|default:"primary" }}">
			<div class="panel-heading">
				<h3><i class="mdi-editor-mode-edit"></i> {{ object.pk|yesno:"Редактировать,Создать" }} Событие</h3>
			</div>
			<div class="panel-body">
			{% if object and object.author.id != user.userprofile.id %}
				<div class="lead">Permission denied.</div>
			{% else %}
				<form method="post" id="createEventForm" action="">
					{% csrf_token %}

					<div class="row">
						<div class="col-lg-6">
							<div class="form-group {{ form.title.errors|yesno:"has-error," }}">
								<label class="control-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
								{% with placeholder="placeholder:"|add:form.title.label %}
									{# |add_class:"floating-label" #}
									{{ form.title|add_class:"form-control"|append_attr:"data-hint:Максимум 45 символов"|append_attr:placeholder }}
								{% endwith %}
								{% for error in form.title.errors %}
									<p class="help-block">{{ error }}</p>
								{% endfor %}
								{% if form.title.help_text %}
									<p class="help-text">{{ form.title.help_text }}</p>
								{% endif %}
							</div>
							<div class="form-group {{ form.description.errors|yesno:"has-error," }}">
								<label class="control-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
								{% with placeholder="placeholder:"|add:form.description.label %}
									{# |add_class:"floating-label" #}
									{{ form.description|add_class:"form-control"|append_attr:placeholder }}
								{% endwith %}
								{% for error in form.description.errors %}
									<p class="help-block">{{ error }}</p>
								{% endfor %}
								{% if form.description.help_text %}
									<p class="help-text">{{ form.description.help_text }}</p>
								{% endif %}
							</div>
							<div class="form-group {{ form.datetime.errors|yesno:"has-error," }}">
								<label class="control-label" for="{{ form.datetime.id_for_label }}">{{ form.datetime.label }}</label>
								{% with placeholder="placeholder:Формат YYYY-MM-DD HH:mm" %}
									{{ form.datetime|append_attr:placeholder|add_class:"form-control floating-label" }}
								{% endwith %}
								{% for error in form.datetime.errors %}
									<p class="help-block">{{ error }}</p>
								{% endfor %}
								{% if form.datetime.help_text %}
									<p class="help-text">{{ form.datetime.help_text }}</p>
								{% endif %}
							</div>
							<div class="form-group {{ form.category.errors|yesno:"has-error," }}">
								<label class="control-label">{{ form.category.label }}</label>
									<input type="hidden" id="inputCategory" name="{{ form.category.name }}" value="{{ form.category.value }}">
									<button type="button" style="margin: 0;" class="btn btn-default btn-sm btn-block {{ form.category.errors|yesno:"btn-danger," }}" data-toggle="modal" data-target="#selectCategory">
									{{ cat_current|default:form.category.0.choice_label }}
									</button>
								{% for error in form.category.errors %}
									<p class="help-block">{{ error }}</p>
								{% endfor %}
								{% if form.category.help_text %}
									<p class="help-text">{{ form.category.help_text }}</p>
								{% endif %}
							</div>
							<div class="form-group {{ form.active.errors|yesno:"has-error," }}">
								<div class="togglebutton">
									<label class="control-label" for="{{ form.active.id_for_label }}">
										{{ form.active }} 
										{% if object.active %}
										<i class="mdi-action-lock"></i>
										{% endif %} 
										{{ form.active.label }}
									</label>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div id="mapCanvas"></div>
							<div class="form-group {{ form.coord.errors|yesno:"has-error," }}">
							{{ form.coord|add_class:"form-control" }}
							{% for error in form.coord.errors %}
								<p class="help-block">{{ error }}</p>
							{% endfor %}
							</div>
						</div>
					</div>


					<div class="">
						<button data-type="submit" class="btn btn-success"><i class="mdi-content-save"></i> {{ object.pk|yesno:"Изменить,Создать" }}</button>
						{% if object %}
						<a href="{{ object.get_absolute_url }}" class="btn btn-default">Отменить</a>
						{% else %}
						<a href="{% url "joinme:index" %}" class="btn btn-default">Отменить</a>
						{% endif %}
					</div>
				</form>
			{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock page %}
