{% extends "joinme/base.html" %}
{% load filters %}

{% block page %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-{{ object.category.color|default:"primary" }}">
			<div class="panel-heading">{{ object.pk|yesno:"Edit,Create" }} Event</div>
			<div class="panel-body">
			{% if object and object.author.id != user.userprofile.id %}
				<div class="well">Permission denied.</div>
			{% else %}
				<form method="post" id="createEventForm" action="">
					{% csrf_token %}

					<div class="form-group {{ form.title.errors|yesno:"has-error," }}">
						<label class="control-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
						{% with placeholder="placeholder:"|add:form.title.label %}
							{# |add_class:"floating-label"|append_attr:placeholder #}
							{{ form.title|add_class:"form-control" }}
						{% endwith %}
						{% for error in form.title.errors %}
							<p class="help-block">{{ error }}</p>
						{% endfor %}
						{% if form.title.help_text %}
							<p class="help-text">{{ form.title.help_text }}</p>
						{% endif %}
					</div>
					<div class="form-group {{ form.description.errors|yesno:"has-error," }}">
						<label class="control-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
						{% with placeholder="placeholder:"|add:form.description.label %}
							{# |add_class:"floating-label"|append_attr:placeholder #}
							{{ form.description|add_class:"form-control" }}
						{% endwith %}
						{% for error in form.description.errors %}
							<p class="help-block">{{ error }}</p>
						{% endfor %}
						{% if form.description.help_text %}
							<p class="help-text">{{ form.description.help_text }}</p>
						{% endif %}
					</div>

					<div class="row">
						<div class="col-xs-6">
							<div class="form-group {{ form.datetime.errors|yesno:"has-error," }}">
								<label class="control-label" for="{{ form.datetime.id_for_label }}">{{ form.datetime.label }}</label>
								{% with placeholder="placeholder:Format YYYY-MM-DD HH:mm:ss" %}
									{{ form.datetime|add_class:"form-control"|add_class:"floating-label"|append_attr:placeholder }}
								{% endwith %}
								{% for error in form.datetime.errors %}
									<p class="help-block">{{ error }}</p>
								{% endfor %}
								{% if form.datetime.help_text %}
									<p class="help-text">{{ form.datetime.help_text }}</p>
								{% endif %}
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group {{ form.category.errors|yesno:"has-error," }}">
								<label class="control-label" for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
								{% with placeholder="placeholder:"|add:form.category.label %}
									{# |add_class:"floating-label"|append_attr:placeholder #}
									{{ form.category|add_class:"form-control" }}
								{% endwith %}
								{% for error in form.category.errors %}
									<p class="help-block">{{ error }}</p>
								{% endfor %}
								{% if form.category.help_text %}
									<p class="help-text">{{ form.category.help_text }}</p>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="text-center">
						<button data-type="submit" class="btn btn-success">{{ object.pk|yesno:"Edit,Create" }}</button>
					</div>
				</form>
			{% endif %}
			</div>
			{% if object %}
				<div class="panel-footer"><a href="{{ object.get_absolute_url }}">Back to Event</a></div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock page %}