{% extends "joinme/base.html" %}
{% load filters %}
{% load static %}

{% block page %}
{% if has_account %}

<div class="page-header">
	<h1 class="text-center">Categories</h1>
</div>
{% for category in categories %}
<div class="col-md-4">
	<div class="panel panel-{{ category.color }} category" id="category-{{ category.id }}">
		<div class="panel-heading">
			<h2><i class="{{ category.icon }}"></i> {{ category.title }}</h2>
		</div>
		<div class="panel-body">
			<p class="lead">{{ category.description }}</p>
			<div class="text-right">
				<a class="btn btn-default btn-{{ category.color }}" href="{{ category.get_absolute_url }}">Events <i class="fa fa-external-link"></i></a>
			</div>
		</div>
	</div>
</div>
{% empty %}
<h2 class="text-center"><i class="fa fa-exclamation-triangle"></i> Nothing found</h2>
{% endfor %}

{% else %}
<div class="row">

	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-horizontal controls">
							<fieldset class="input-group">
								<div class="form-group">
									<label for="inputFile" class="col-lg-2 control-label">Barcode</label>
									<div class="col-lg-10">
										<input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
										<input type="file" id="inputFile" multiple="" capture>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-2 col-lg-offset-2">
										<button class="btn btn-primary">Rerun</button>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="col-lg-6">
						<div id="interactive" class="viewport text-center"></div>
					</div>
				</div>
				<div id="result_code" class="row"></div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="text-center">Sign In</h3>
			</div>
			<div class="panel-body">
				{% if next %}
				<form method="post" id="loginForm" action="{% url 'joinme:index' %}?next={{next}}">
				{% else %}
				<form method="post" id="loginForm" action="{% url 'joinme:index' %}">
				{% endif %}
					{% csrf_token %}
					<input type="hidden" name="type_form" value="login">
					{% if next %}
						<div class="well well-sm well-material-light-blue-500">You should be authenticated for this action.</div>
					{% endif %}
					{% if created %}
						<div class="well well-sm well-material-light-blue-500">Email will be send.</div>
					{% else %}
						{% if server_fail %}
							<div class="well well-sm">Server is failed. Try again later, please.</div>
						{% endif %}
						{% if is_inactive %}
							<div class="well well-sm well-material-deep-orange-500">Confirm your account via link in your email.</div>
						{% endif %}
						{% if wrong_data %}
							<div class="well well-sm well-material-red-500">Check your data. Or maybe this email is already taken.</div>
							<div class="well weel-sm">If you forget your password, you can use <a href="{% url "joinme:reset-password" %}">reset form.</a></div>
						{% endif %}
						{% if wrong_email %}
							<div class="well well-sm well-material-red-500">For some reason, your email should be from <code>phystech.edu</code>. Thank you!</div>
						{% endif %}
						{% if empty_data %}
							<div class="well well-sm well-material-red-500">Data should not be empty.</div>
						{% endif %}

						<div class="form-group">
							<label class="control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
							<div class="input-group">
								{{ form.email|add_class:"form-control"|append_attr:"required" }}
								<span class="input-group-addon">
									<i class="mdi-communication-email"></i>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
							<div class="input-group">
								{{ form.password|add_class:"form-control"|append_attr:"required" }}
								<span class="input-group-addon">
									<i class="mdi-action-lock"></i>
								</span>
							</div>
						</div>

						<div class="text-center">
							<button type="submit" class="btn btn-success">Sign In</button>
							<button type="submit" class="btn btn-info">Sign Up</button>
						</div>
					{% endif %}
				</form>
			</div>
			<div class="panel-footer">
				<div>If you don't register, after submit this form the letter with activation code will be sent to your email.</div>
				<div class="text-right"><a href="{% url "joinme:reset-password" %}">Reset Password</a></div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock page %}

{% block end_script %}
<style>
#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
	margin-top: -28%;
}
#interactive.viewport canvas, video {
	/*float: left;*/
	width: 50%;
	margin: 0 auto;
}
</style>
<script src="{% static "joinme/js/quagga.min.js" %}"></script>
<script>
$(function() {
	var App = {
		init: function() {
			App.attachListeners();
		},
		config: {
			reader: "code_128",
			length: 10
		},
		attachListeners: function() {
			var self = this;

			$(".controls input[type=file]").on("change", function(e) {
				if (e.target.files && e.target.files.length) {
					App.decode(URL.createObjectURL(e.target.files[0]));
				}
			});

			$(".controls button").on("click", function(e) {
				var input = document.querySelector(".controls input[type=file]");
				if (input.files && input.files.length) {
					App.decode(URL.createObjectURL(input.files[0]));
				}
			});

			$(".controls .reader-config-group").on("change", "input, select", function(e) {
				e.preventDefault();
				var $target = $(e.target),
					value = $target.attr("type") === "checkbox" ? $target.prop("checked") : $target.val(),
					name = $target.attr("name"),
					state = self._convertNameToState(name);

				console.log("Value of "+ state + " changed to " + value);
				self.setState(state, value);
			});
		},
		_accessByPath: function(obj, path, val) {
			var parts = path.split('.'),
				depth = parts.length,
				setter = (typeof val !== "undefined") ? true : false;

			return parts.reduce(function(o, key, i) {
				if (setter && (i + 1) === depth) {
					o[key] = val;
				}
				return key in o ? o[key] : {};
			}, obj);
		},
		_convertNameToState: function(name) {
			return name.replace("_", ".").split("-").reduce(function(result, value) {
				return result + value.charAt(0).toUpperCase() + value.substring(1);
			});
		},
		detachListeners: function() {
			$(".controls input[type=file]").off("change");
			$(".controls .reader-config-group").off("change", "input, select");
			$(".controls button").off("click");
		},
		decode: function(src) {
			var self = this,
				config = $.extend({}, self.state, {src: src});

			Quagga.decodeSingle(config, function(result) {});
		},
		setState: function(path, value) {
			var self = this;

			if (typeof self._accessByPath(self.inputMapper, path) === "function") {
				value = self._accessByPath(self.inputMapper, path)(value);
			}

			self._accessByPath(self.state, path, value);

			console.log(JSON.stringify(self.state));
			App.detachListeners();
			App.init();
		},
		inputMapper: {
			inputStream: {
				size: function(value){
					return parseInt(value);
				}
			},
			numOfWorkers: function(value) {
				return parseInt(value);
			},
			decoder: {
				readers: function(value) {
					return [value + "_reader"];
				}
			}
		},
		state: {
			inputStream: {
				size: 800
			},
			locator: {
				patchSize: "medium",
				halfSample: false
			},
			numOfWorkers: 1,
			decoder: {
				readers: ["code_128_reader"]
			},
			locate: true,
			src: null
		}
	};

	App.init();

	Quagga.onProcessed(function(result) {
		var drawingCtx = Quagga.canvas.ctx.overlay,
			drawingCanvas = Quagga.canvas.dom.overlay;

		if (result) {
			if (result.boxes) {
				drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
				result.boxes.filter(function (box) {
					return box !== result.box;
				}).forEach(function (box) {
					Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, drawingCtx, {color: "green", lineWidth: 2});
				});
			}

			if (result.box) {
				Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, drawingCtx, {color: "#00F", lineWidth: 2});
			}

			if (result.codeResult && result.codeResult.code) {
				Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, drawingCtx, {color: 'red', lineWidth: 3});
			}
		}
	});

	Quagga.onDetected(function(result) {
		var code = result.codeResult.code,
			$node,
			canvas = Quagga.canvas.dom.image;

		$node = $( "<div class='col-sm-6 col-md-4'><div class='thumbnail'><img /><div class='caption'><h3 class='code'></h3></div></div></div>" );
		$node.find("img").attr("src", canvas.toDataURL());
		$node.find(".code").html(code);
		$("#result_code").prepend($node);
	});
});
</script>
{% endblock end_script %}
