{% extends "joinme/base.html" %}
{% load static %}

{% block page %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="text-center">Reset Password</h3>
			</div>
			<div class="panel-body">
				<form method="post" id="resetPassForm" action="">
					{% csrf_token %}
					{% for field in form %}
					<div class="form-group {{ field.errors|yesno:"has-error," }}">
						<label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
						{{ field }}
						{% for error in field.errors %}
							<p class="help-block">{{ error }}</p>
						{% endfor %}
						{% if field.help_text %}
							<p class="help-text">{{ field.help_text }}</p>
						{% endif %}
					</div>
					{% endfor %}
					<div class="text-center">
						<button data-type="submit" class="btn btn-danger">Reset Password</button>
					</div>
				</form>
			</div>
			<div class="panel-footer">After reset you get email.</div>
		</div>
	</div>
</div>
{% endblock page %}
