{% extends "joinme/base.html" %}
{% load filters %}

{% block page %}
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="panel panel-default bg-info">
				<div class="panel-heading">
					<h3 class="text-center">Настройки</h3>
				</div>
				<div class="panel-body">
					<h4>Основная информация</h4>
					{% if user_success %}
						<div class="well well-sm text-success">Данные были сохранены.</div>
					{% endif %}
					<form method="post" action="" class="form-horizontal">
						{% csrf_token %}
						<input type="hidden" name="name_form" value="user_edit">
						{% for field in user_form %}
						<div class="form-group {{ field.errors|yesno:"has-error," }}">
							<label class="control-label col-sm-4" for="{{ field.id_for_label }}">{{ field.label }}</label>
							<div class="col-sm-8">
								{{ field|add_class:"form-control" }}
							</div>
							{% for error in field.errors %}
								<p class="help-block">{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
								<p class="help-text">{{ field.help_text }}</p>
							{% endif %}
						</div>
						{% endfor %}
						<div class="col-sm-8 col-sm-offset-4">
							<button type="submit" class="btn btn-default btn-info">Сохранить</button>
						</div>
					</form>
					<h4>Социальные сети</h4>
					{% if user.userprofile.vk_user_id == 0 %}
					<div>
						{# TODO: add ru lang to VK #}
						<a href="https://oauth.vk.com/authorize?client_id={{ VK_API_ID }}&lang=ru&https=1&scope=friends,groups,email,offline&redirect_uri=http://{{ host }}{% url "joinme:vk-auth" %}&response_type=code&v=5.29&state=test" class="btn btn-primary" title="VK"><i class="fa fa-vk"></i> Войти в VK</a>
					</div>
					{% else %}
					<div>
						<i class="fa fa-vk"></i>
						<a href="https://vk.com/id{{ user.userprofile.vk_user_id }}" target="_blank">Ваш VK аккаунт</a>
						<a href="{% url "joinme:vk-auth-delete" %}" class="pull-right" title="Delete from account"><i class="fa fa-times"></i></a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default bg-info">
				<div class="panel-heading">
					<h3 class="text-center">Изменение пароля</h3>
				</div>
				<div class="panel-body">
					{% if reset_success %}
						<div class="well well-sm text-success">Новый пароль был сохранен.</div>
					{% endif %}
					<form method="post" action="">
						{% csrf_token %}
						<input type="hidden" name="name_form" value="new_pass">
						{% for field in reset_form %}
						<div class="form-group {{ field.errors|yesno:"has-error," }}">
							<label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
							<div class="input-group">
								{{ field|add_class:"form-control"|append_attr:"required" }}
								<span class="input-group-addon">
									<i class="mdi-action-lock"></i>
								</span>
							</div>
							{% for error in field.errors %}
								<p class="help-block">{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
								<p class="help-text">{{ field.help_text }}</p>
							{% endif %}
						</div>
						{% endfor %}
						<div class="text-center">
							<button type="submit" class="btn btn-default btn-warning">Сохранить новый пароль</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock page %}
