body {
	/*padding-top: 70px;*/
}

label {
	display: block;
}

textarea {
	resize: vertical;
}

#header,
#main,
#footer {
	padding: 10px 0;
}

#loginForm {
	padding: 10px;
}

body [class^=mdi-],
body [class*=mdi-] {
	font-size: inherit;
}

.category[id^=category],
.event[id^=event] {
	cursor: pointer;
}
.category .panel-heading,
.event .panel-heading {
	word-break: break-word;
}
