body {
	/*padding-top: 70px;*/
}

label {
	display: block;
}

textarea {
	resize: vertical;
}

#header,
#main,
#footer {
	padding: 10px 0;
}

#loginForm {
	padding: 10px;
}

#iconEvent {
	position: absolute;
	right: 20px;
}
#iconEvent > div {
	margin: 10px;
}

body [class^=mdi-],
body [class*=mdi-] {
	font-size: inherit;
}

.category[id^=category],
.event[id^=event] {
	/*cursor: pointer;*/
}
.category .panel-heading,
.event .panel-heading {
	word-break: break-word;
}
.event .date {
	padding: 5px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-weight: bold;
	line-height: 1;
}
.event-detail .lead {
	margin-right: 56px;
	margin-left: 20px;
}
.rating-xs {
	font-size: 1.6em;
}
.event-detail .star-rating:not(.rating-disabled) .rating-stars:before {
	cursor: pointer;
}

/* Comments */
.comment-head {
	cursor: pointer;
}
