body {
	padding-top: 70px;
	/*background-color: whitesmoke;*/
}

#header,
#main,
#footer {
	padding: 10px 0;
}

#loginForm {
	padding: 10px;
}

body [class^=mdi-],
body [class*=mdi-] {
	font-size: inherit;
}

.category[id^=category],
.event[id^=event] {
	cursor: pointer;
}
